
@{
    ViewBag.Title = "Morning News";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-lg-5">
        <div id="chartContainer">

        </div>
        <p></p>
        <div id="chartContainer2">

        </div>
        <script>
            dateObject = "";
            dateObject2 = "";
            FusionCharts.ready(function () {
                var revenueChart = new FusionCharts({
                    "type": "stackedcolumn2dline",
                    "renderAt": "chartContainer",
                    "width": "473",
                    "height": "250",
                    "dataFormat": "xmlurl",
                    "dataSource": "../DataProviderReal.aspx?from=" + dateObject + "&to=" + dateObject2 + "&table=Field&column=ow_oil&satuan=Oil"
                });
                revenueChart.render();
            });
            FusionCharts.ready(function () {
                var revenueChart = new FusionCharts({
                    "type": "stackedcolumn2dline",
                    "renderAt": "chartContainer2",
                    "width": "473",
                    "height": "250",
                    "dataFormat": "xmlurl",
                    "dataSource": "../DataProviderReal.aspx?from=" + dateObject + "&to=" + dateObject2 + "&table=Field&column=gas_to_orf&satuan=Gas"
                });
                revenueChart.render();
            });
        </script>
    </div>
    <div class="col-lg-2">
        table
    </div>
    <div class="col-lg-5">
        <div id="chartContainer3">

        </div>
        <p></p>
        <div id="chartContainer4">

        </div>
        <script>
            dateObject = "";
            dateObject2 = "";
            FusionCharts.ready(function () {
                var revenueChart = new FusionCharts({
                    "type": "bar2d",
                    "renderAt": "chartContainer3",
                    "width": "473",
                    "height": "90",
                    "dataFormat": "xmlurl",
                    "dataSource": "../DataProviderBar.aspx?from=" + dateObject + "&to=" + dateObject2 + "&table=Field&column=ow_oil&satuan=Oil&field=phe23"
                });
                revenueChart.render();
            });
            FusionCharts.ready(function () {
                var revenueChart = new FusionCharts({
                    "type": "bar2d",
                    "renderAt": "chartContainer4",
                    "width": "473",
                    "height": "90",
                    "dataFormat": "xmlurl",
                    "dataSource": "../DataProviderBar.aspx?from=" + dateObject + "&to=" + dateObject2 + "&table=Field&column=ow_oil&satuan=Oil&field=phe30"
                });
                revenueChart.render();
            });
        </script>
    </div>

</div>